<ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 60%; display: flex; align-items: center; justify-content: center;">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Validar usuario</ion-card-subtitle>
        <ion-card-title>Ingrese sus datos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label>Usuario: </ion-label>
          <ion-input type="text" [(ngModel)]="user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña: </ion-label>
          <ion-input type="password" [(ngModel)]="pass"></ion-input>
        </ion-item> 
      </ion-card-content>
      <ion-button color="primary" expand="block" (click)="login()" >Ingresar</ion-button>
    </ion-card>

  </div>

</ion-content>
