<ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 35%; display: flex; align-items: center; justify-content: center;">
    <img src="assets/nombre_app.png" width="100%" height="400" >
  </div>


  <div style="height: 25%; display: flex; align-items: center; justify-content: center;">

    <form id="form" [formGroup]="loginForm" (ngSubmit)="submit()">
  
      <ion-item class="ion-margin-bottom">
        <ion-input formControlName="correo" placeholder="Correo electrónico" [(ngModel)]="user"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.correo">
        <ng-container *ngIf="correo.hasError(error.type) && (correo.dirty || correo.touched)">
          <small style="color: aliceblue;">{{error.message}}</small>
        </ng-container>
      </div><br>
      <ion-item class="ion-margin-bottom">
        <ion-input formControlName="clave" type="password" placeholder="Contraseña" [(ngModel)]="pass"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.clave">
        <ng-container *ngIf="clave.hasError(error.type) && (clave.dirty || clave.touched)">
          <small style="color: aliceblue;">{{error.message}}</small>
        </ng-container>
      </div><br>
  
      <ion-button expand="block" type="submit"  (click)="login()" color="success" shape="round">Iniciar sesión</ion-button>
    </form>

    <!-- <ion-card class="card-contain">
      <ion-card-header>
        <ion-card-title>Ingrese sus datos</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input formControlName="correo" name="correo" type="text" [(ngModel)]="user"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.correo">
            <ng-container *ngIf="correo.hasError(error.type) && (correo.dirty || correo.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div><br>
          <ion-item>
            <ion-label position="floating">Contraseña </ion-label>
            <ion-input formControlName="clave" name="clave" type="password" [(ngModel)]="pass"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.clave">
            <ng-container *ngIf="clave.hasError(error.type) && (clave.dirty || clave.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div><br>
        </form>
      </ion-card-content>

      <ion-button [disabled]="!loginForm.valid" shape="round" (click)="login()" expand="block" color="success">
        <ion-icon name="enter-outline" slot="end"></ion-icon>Ingresar
      </ion-button>
    </ion-card> -->

  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button data-desc="Invi" (click)="LoginInvitado()" color="success">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Admi" (click)="LoginAdmin()" color="success">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Usua" (click)="LoginUsuario()" color="success">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Anon" (click)="LoginAnonimo()" color="success">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Test" (click)="LoginTester()" color="success">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>